@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

body {
    background: -webkit-radial-gradient(#0074D9, #001F3F);
    font-family: Poppins;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #FEEDE6;
}

.header {
    font-family: 'Nunito';
    background: -webkit-radial-gradient(#2E4053, #1C2833);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.313rem;
    padding: 0.313rem 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 4.375rem;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
    display: flex;
    margin: 0.625rem 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.header .nav-links li {
    padding: 0px 3.125rem;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 1.25rem;
    color: #eceff1;
    text-decoration: none;
    font-weight: bold;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.bigc{
    display: flex;
    justify-content: space-between;
    max-width: 1500px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto;
    
}
.contenedor {
    display: flex;
    align-items: center;
    height: 50vh;
}

.imagen-con-texto {
    position: relative;
    margin-right: 10rem;
    margin-left: 10rem;
    max-width: 30rem;
    height: auto;
}

.imagen {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}


.imagen-con-texto:hover .imagen {
    transform: scale(0.95); /* Aplica una animación de escala al colocar el puntero sobre la imagen */
}

.imagen-con-texto:hover .overlay {
    opacity: 5; /* Muestra el fondo oscuro con texto */
}

.texto1{
    font-size: 1.5rem;
    padding: 0 .5rem;
}

.texto2{
    font-size: 1.5rem;
    padding: 0 .2rem;
}

.separar{
    width: 100%;
    height: 3rem;
    background: -webkit-radial-gradient(#2E4053, #1C2833); 
}

.texto3{
    text-align: center;
    font-size: 5rem;

}

.contenedor-imagenes {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    height: 60vh; /* O ajusta la altura según tus necesidades */
}

.fila {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.imagen {
    flex: 1;
    padding: 1rem 2rem;
    box-sizing: border-box;
    text-align: center; /* Centra horizontalmente el contenido */
}

.imagen img {
    max-width: 10rem;
    height: auto;
}

.language {
    cursor: pointer;
}

.language img {
    transition: all 0.3s;
}

.language img:hover {
    transform: scale(1.2);
}

.grafica {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.habilidad {
    margin-bottom: 10px;
}

.nombre-habilidad {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2rem;
}

.barra {
    height: 2rem;
    background: -webkit-radial-gradient(violet, purple);
    border-radius: 5px;
}



footer {
    background: -webkit-radial-gradient(#2E4053, #1C2833);
    color: #FEEDE6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.625rem;
    margin-top: auto;
    font-size: 0.875rem;
}

.textof {
    color: white;
    margin-left: auto;
    padding-right: 1.25rem;
}

.logos {
    cursor: pointer;
}

.logos img {
    padding: 0.438rem 0.625rem;
    height: 1.875rem;
    width: auto;
    transition: all 0.3s;
}

.logos img:hover {
    transform: scale(1.2);
}

@media (max-width: 1000px) {
    .header .nav-links a {
        font-size: 1rem;
        padding: 0 .5rem;
    }
    
    .header .nav-links {
        
        align-items: right;
    }

    .header .nav-links li {
        padding: 0.625rem 0;
        display: inline-block;
    }
}


@media (max-width: 768px) {
    .header .nav-links a {
        font-size: 0.875rem;
        padding: 0 .5rem;
    }
    
    .header .nav-links {
        
        align-items: right;
    }

    .header .nav-links li {
        padding: 0.625rem 0;
        display: inline-block;
    }
}

